.main {
    
    background-color: #0E2841;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.question-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
       font-family: 'Courier New', Courier, monospace;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    

}

.main-question {
    width: 100vh;
    margin-top: 100px;
    background: rgba(163, 241, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: white;
    padding: 30px;
}

.main-question::before {
    content: '"';
}

.main-question::after {
    content: '"';
}

.left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 50px;
    font-size: 1.2em;
    border-radius: 2em;
    min-height: 200px;
    min-width: 200px;
    border: none;
    color: rgb(108, 255, 108);

}

.left:hover,
.right:hover {
transform: scale(1.05);
background: rgba(255, 213, 253, 0.2);
}

.left {
    background: rgba(250, 180, 185, 0.1);
    box-shadow: 0 8px 32px 0 rgba(14, 17, 62, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  
}

.right {
    background: rgba(250, 180, 185, 0.1);
    box-shadow: 0 8px 32px 0 rgba(14, 17, 62, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
 
}

.button {
    position: relative;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:active {
    background-color: #3e8e86;
    box-shadow: 0 5px #666;
    transform: translateY(20px);
}