.main {
    color: #F9C349;
    background-color: #0E2841;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

.question-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #F9C349;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    
}

.main-question {
    width: 100vh;
        margin-top: 100px;
    background: rgba(163, 241, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 30px;
}

.main-question::before {
    content: "'";
}

.main-question::after {
    content: "'";
}

.left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 50px;
    font-size: 1.2em;
    border-radius: 2em;
    min-height: 200px;
    min-width: 200px;
    border: none;

}

.left {
    background: rgba(230, 35, 48, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
}

.right {
    background: rgba(54, 230, 35, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
}

.button {
    position: relative;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:active {
    background-color: #3e8e86;
    box-shadow: 0 5px #666;
    transform: translateY(20px);
}