* {
    box-sizing: border-box;
}

.main {

    background-color: #0E2841;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: lighter;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 768px) {

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: lighter;
        padding: 1.2em;
        height: 100vh;
        font-family: 'Courier New', Courier, monospace;
       width: 100vw;
    }

    .left,
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.2em;
        font-size: 1em;
        border-radius: 10em;
        height: 200px;
        width: 30vw;
        background: rgba(250, 180, 185, 0.1);
        box-shadow: 0 8px 32px 0 rgba(10, 12, 41, 0.3);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    .question-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        width: 100vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .main-question {
        width: 70vw;
        margin-top: 100px;
        background: rgba(163, 241, 250, 0.25);
        box-shadow: 0 8px 32px 0 rgba(19, 23, 82, 0.3);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        color: white;
        padding: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
}

.question-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.main-question {
    width: 70vw;
    margin-top: 50px;
    background: rgba(163, 241, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(19, 23, 82, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: white;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main-question::before {
    content: '"';
}

.main-question::after {
    content: '"';
}

.left,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 50px;
    font-size: 1.2em;
    border-radius: 2em;
    min-height: 200px;
    min-width: 40vw;
    border: none;
    background: rgba(250, 180, 185, 0.1);
    box-shadow: 0 8px 32px 0 rgba(10, 12, 41, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: rgb(255, 228, 253);

}

.left:hover,
.right:hover {
    transform: scale(1.05);
    background: rgba(255, 213, 253, 0.2);
}

.button {
    position: relative;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:active {
    background-color: #3e8e86;
    box-shadow: 0 5px #666;
    transform: translateY(20px);
}