body {
  margin: auto;
  box-sizing: border-box;
  color: #F9C349;
  background-color: #0E2841;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  height: 100vh;
}

.start-button {
  background: rgba(61, 120, 72, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75em;
  border-radius: 2em;
  border: none;
  color: rgb(108, 255, 108);
  font-family:'Courier New', Courier, monospace;
}


.speedo{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:auto

}

.verdict{
  background: rgba(101, 171, 192, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

