.menu {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    color: #F9C349;
    font-family: 'Trebuchet MS', sans-serif;
    height: 300px;
    width: 300px;
    border-radius: 20px;
 
}

.start-button {
    padding: 20px;
    font-size: 1.1em;
    border-radius: 2em;
    border: none;
    box-shadow: 2px 1px 10px 2px #0a0a1a;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin: 20px;
    color: white;
    font-style: italic;
    font-size: 0.75rem;
}

.main-question{
    width: 60vw;
}